/**
 * Overrides
 * =================================
 * - Foundation Overrides
 * - Padding / Margin Edits
 *
 *
 *
 *
 * - This shouldn't be a dump of random edits, but a collection of specific and intentional spacing classes.
 */

//*********************************************
//*********** FOUNDATION OVERRIDES ************
//*********************************************

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}


//*********************************************
//************* SPACING OVERRIDES *************
//*********************************************
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.add-padding {
  padding: 10px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-pull {
  margin-top: -100px;
}

.massive-margin {
  margin-top: 200px;
}

//*********************************************
//************** SPECIAL FEATURES *************
//*********************************************

.rounded-corners {
  border-radius: 10px;
}