/**
 * Overrides
 * =================================
 * - Foundation Overrides
 * - Padding / Margin Edits
 *
 *
 *
 *
 * - This shouldn't be a dump of random edits, but a collection of specific and intentional spacing classes.
 */

//*********************************************
//*********** FOUNDATION OVERRIDES ************
//*********************************************

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}


//*********************************************
//************* SPACING OVERRIDES *************
//*********************************************

//padding

.no-padding {
  padding: 0;
}

.add-padding {
  padding: 10px;
}

.add-md-padding {
  padding: 20px;
}

.top-bot-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-top-padding {
  padding-top: 0px;
}

.left-padding {
  padding-left: 10px;
}

.large-padding-mobile {
  padding-top: 20px;
}

@media screen and (min-width: 40em) {
  .large-padding-mobile {
    padding-top: 100px;
  }
}

//margin

.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 60px;
}

.margin-pull {
  margin-top: -100px;
}

.xl-margin {
  margin-top: 60px;
  margin-bottom: 60px;
}

.massive-margin {
  margin-top: 200px;
}

.tablet-massive-margin {
  margin-top: 20px;
}

@media screen and (min-width: 40em) {
  .tablet-massive-margin {
    margin-top: 200px;
  }
}

.super-massive-margin {
  margin-top: 240px;
}

.header-margin {
  margin-top: 70px;
}


//*********************************************
//************** SPECIAL FEATURES *************
//*********************************************

.rounded-corners {
  border-radius: 10px;
}

.rounded-corner-img {
  border-top-left-radius: 10px;
}

.add-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}