/**
 * Backgrounds
 * =================================
 * - Photo Header
 * - Video Header
 * - Color Backgrounds
 *
 *
 *
 *
 */



//*********************************************
//************** PHOTO HEADER *****************
//*********************************************

.full-background {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 600px;
  position: relative;
}

//This can be used anywhere, but it HAS to have relative positioning above it or it won't work.
.content-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



//*********************************************
//************ COLOR BACKGROUNDS **************
//*********************************************
body {
  background-color: $background;
}

.main-background {
  background-color: $background;
  color: $primary;
}

.color-background {
  background-color: $orange;
  color: $background;
}

.blue-background {
  background-color: $blue;
  color: $background;
}

.gray-background {
  background-color: $gray;
  color: $primary;
}

.inverted-background {
  background-color: $primary;
  color: $background;
}

//*********************************************
//*********** SPECIAL BACKGROUNDS *************
//*********************************************

.featured-background {
  background-color: $gray;
  color: $primary;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 10;
  border-radius: 10px;
  margin-bottom: 20px;

  hr {
    margin: 0 20px;
  }

  h3 {
    color: $primary;
    text-align: center;
    margin-top: 10px;
  }

  p {
    margin-bottom: 0px;
  }

  button {
    margin-bottom: 10px;
  }
}