/**
 * Variables
 * =================================
 * - Colors
 * - Typography
 * - Sizes
 * - Other
 *
 *
 *
 */

//*********************************************
//***************** COLORS ********************
//*********************************************

// Main site colors
$primary: #000000;
$background: #fefefe;

// Brand palette colors
$blue: #4e7aab;
$orange: #e56539;
$gray: #eeeeee;
$dark-blue: #0a4068;
$dark-gray: #888888;





//*********************************************
//****************** TYPE *********************
//*********************************************

// Fonts
$main-font: 'Source Sans Pro', sans-serif;
$head-font: 'Playfair Display', serif;


//*********************************************
//***************** SIZES *********************
//*********************************************

// Font Sizes
$tiny: .8em;
$normal: 1em;
$small: 1.1em;
$medium: 1.7em;
$large: 2em;
$xlarge: 3em;



//*********************************************
//***************** OTHER *********************
//*********************************************